<style> .error_message {
            text-align: center;
            font-size: 15px;
            font-family: 'Open Sans';
            color: #3c3c3c;
            padding: 5px 12px;
        }

        .nav-courseware{
            display: none;
        }
</style>
<%inherit file="main.html" />
<%! from microsite_configuration import microsite %>
<%namespace name='static' file='static_content.html'/>

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<div class="error_message">
    This page is for teachers. Close this tab to return to the previous page.
</div>
